<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.EdgeX"
            tools:targetApi="31">

        <meta-data
                android:name="xposedmodule"
                android:value="true" />
        <meta-data
                android:name="xposeddescription"
                android:value="Gesture Control Module" />
        <meta-data
                android:name="xposedminversion"
                android:value="82" />
        <meta-data
                android:name="xposedscope"
                android:value="com.android.systemui" />

        <activity
                android:name=".ui.MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.GesturesActivity"
            android:exported="false"
            android:theme="@style/Theme.EdgeX" />

        <activity
            android:name=".ui.FreezerActivity"
            android:exported="false"
            android:theme="@style/Theme.EdgeX"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".ui.ActionSelectionActivity"
            android:exported="false"
            android:theme="@style/Theme.EdgeX" />

        <activity
            android:name=".ui.ShortcutSelectionActivity"
            android:exported="false"
            android:theme="@style/Theme.EdgeX" />

        <provider
                android:name=".config.ConfigProvider"
                android:authorities="com.fan.edgex.provider"
                android:exported="true"
                android:enabled="true" />

    </application>

</manifest>
